.app.container-sm {
  background-image: linear-gradient(to top, #ac1f32 0%, #d1914f 100%);
  padding: 1vw;
  font-family: "Play", sans-serif;
  margin-top: 1vw;
  margin-bottom: 1vw;
  max-width: 70%;
  min-width: 350px;
  height: 650px;
}

@media screen and (max-width: 600px) {
  .app.container-sm {
    height: 1100px;
  }
}
