.container-sm {
  background-image: linear-gradient(to top, #005a8e 0%, #001629 100%);
  padding: 1vw;
  font-family: "Play", sans-serif;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  max-width: 70%;
  min-width: 350px;
  border-radius: 3px;
  height: 100%;
}
