@media screen and (max-width: 600px) {
  .day-forecast .card-title-forecast {
    font-size: 1em;
    margin: 0;
    color: #0d152c;
  }
}
@media screen and (min-width: 601px) {
  .day-forecast .card-title-forecast {
    font-size: 1.2vw;
    margin: 0;
    color: #0d152c;
  }
}
.day-forecast .five-day-symbol {
  font-size: calc(1.5em + 0.1vw);
  -webkit-text-stroke: 1.5px #0d152c;
  margin: 0;
}
.day-forecast .five-day-temp {
  font-size: calc(0.8em + 0.1vw);
  color: #0d152c;
}
.day-forecast {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #001629;
  max-width: 60%;
}
