.five-day-forecast .card {
  background-color: rgb(255, 255, 255, 0.7);
  border: solid #da3b4d 2px;
  padding: 0.3vw 0;
  margin-top: 0;
}
.five-day-forecast.card-deck {
  margin-top: 0;
}

@media screen and (max-width: 600px) {
  .five-day-forecast .card {
    max-width: 60%;
    margin: 5px auto;
  }
}
@media screen and (min-width: 601px) {
  .five-day-forecast .card-one {
    margin-right: 5px;
    margin-left: 25px;
  }
  .five-day-forecast .card-two {
    margin-right: 5px;
    margin-left: 5px;
  }
  .five-day-forecast .card-three {
    margin-right: 5px;
    margin-left: 5px;
  }
  .five-day-forecast .card-four {
    margin-right: 5px;
    margin-left: 5px;
  }
  .five-day-forecast .card-five {
    margin-left: 2px;
    margin-right: 25px;
  }
}
