.header {
  margin-bottom: 10px;
}
.header .card-img-overlay {
  padding: 0;
}
.header .card-title {
  text-align: center;
  font-size: calc(1.1em + 3.5vw);
  text-shadow: #1a1a2e 0 3px 5px;
  margin-top: 2vw;
}
