.today-current.card {
  padding: 0.3vw 0;
  background-color: rgb(255, 255, 255, 0.7);
  border: solid #da3b4d 2px;
  margin-right: 5px;
  margin-left: 25px;
}
@media screen and (max-width: 600px) {
  .today-current.card {
    max-width: 60%;
    display: block;
    margin: 0 auto;
  }
}
.today-current h5 {
  text-align: center;
  font-size: calc(0.8em + 1.5vw);
  font-weight: 900;
  color: #0d152c;
  text-transform: capitalize;
}

.today-current h6 {
  text-align: center;
  font-size: calc(0.5em + 0.6vw);
  margin: 0;
  color: #0d152c;
}
.today-current .today-icon {
  font-size: calc(1.2em + 2.5vw);
  padding-right: calc(0.5em + 0.5vw);
  color: #0d152c;
  text-align: right;
  margin-top: calc(0.2em + 0.4vw);
  display: block;
  line-height: 40px;
  animation: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.9);
  }
}
.today-current .current-temp {
  font-size: calc(1.2em + 2.5vw);
  color: #0d152c;
  padding: 0;
  text-align: left;
}
.today-current .today-description,
.today-current .today-feels {
  display: block;
  font-size: calc(0.3em + 0.7vw);
  color: #0d152c;
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
}
